.order-form-container{
    width: 100%;
    color: brown;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
}

.form-container{
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px groove brown;
    box-shadow: 1px 5px 5px 5px #222;
    border-radius: 48px;
    padding: 30px 30px 0px 0px ;
}

.form-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.order-summary {
    min-width: 300px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 25%;
}

.order-summary-container{
    height: 90%;
    width: 90%;
    border: 4px groove brown;
    box-shadow: 1px 5px 5px 5px #222;
    border-radius: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 10px 60px 0px;
}

.order-details-header{
    font-size: large;
    position: relative;
    z-index: 998;
    background-color: #000;
    padding: 20px;
    top: 30px;
}

.order-details-footer{
    font-size: large;
    position: relative;
    z-index: 998;
    padding: 20px;
    bottom: 60px;
}

.single-order-container{
    padding: 30px 10px 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.single-order-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: medium;
}

.single-order-right{
    font-size: small;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.with-space{
    padding: 16px 4px 4px 4px;
}

.input-to-right{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

input{
    background-color: #222;
    color: brown;
    padding: 3px;
    margin-left: 10px;
}

.submit-button{
    padding: 8px 60px;
    font-size: 20px;
    background: #000;
    color: white;
    border: 4px groove white;
    border-radius: 12px;
    margin: 30px 4px 4px;
    box-shadow: 1px 5px 5px 5px #222;
}

.submit-button:hover{
    cursor: pointer;
    padding: 8px 60px;
    font-size: 20px;
    background: #000;
    color: brown;
    border: 4px groove brown;
    border-radius: 12px;
    margin: 30px 4px 4px;
    transition: ease-in .1s;
    box-shadow: 1px 5px 5px 5px #222;
}