.single-cart-container{
    width: 100%;
    margin: 12px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border: 2px groove brown;
    border-radius: 48px;
    box-shadow: 1px 1px 1px 1px #222;
    position: relative;
    height: 100%;
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
}

.image-container{
    padding: 4px;
}

.name-and-description-container{
    display: flex;
    flex-direction: column;
}

.name-container{
    color: brown;
    font-size: 20px;
    margin-bottom: 40px;
}

.description-container{
    align-items: flex-end;
    font-size: 14px;
}

.add-to-cart-container{
    width: 100%;
    align-items: center;
    justify-content: center;
    
}

.add-to-cart{
    width: 100%;
    text-align: center;
    justify-content: center;
}

.counter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px;
}

.count-value-container{
    justify-content: center;
    align-items: center;
    padding: 0px 8px 0px 8px;
    margin: 12px;
    font-size: 32px;
}

.increase-and-decrease-button{
    justify-content: center;
    align-items: center;
    padding: 0px 12px 0px 12px;
    margin: 8px;
    font-size: 48px;
    border: 2px solid rgb(218, 29, 29);
    border-radius: 6px;
}

.increase-and-decrease-button:hover{
    justify-content: center;
    align-items: center;
    padding: 0px 12px 0px 12px;
    margin: 8px;
    cursor: pointer;
    font-size: 48px;
    border-bottom: 2px solid rgb(218, 29, 29);
    border-radius: 6px;
}

.total-cost {
    width: 120px;
    padding: 20px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}
