.add-to-cart-container{
    width: 100%;
    align-items: center;
    justify-content: center;
}

.add-to-cart{
    width: 100%;
    text-align: center;
    justify-content: center;
}

.counter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.increase-and-decrease-button{
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.total-cost {
    width: 120px;
    padding: 20px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}
